<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Input parameters-->
      <!--ETW-->
      <add key="Input" value="etw"/>
      <add key="SessionName" value=""/>

      <!--WINLOG-->
      <!--<add key="Input" value="winlog"/>
      <add key="LogName" value=""/>-->
    
    <!--Output parameters-->
      <!--ADX-->
      <add key="Output" value="adx"/>
      <add key="AdxAuthority" value="microsoft.com"/>
      <add key="AdxCluster" value="Cdoc.kusto.windows.net"/>
      <add key="AdxDatabase" value="GeorgiTest"/>
      <add key="AdxTable" value=""/>
      <add key="AdxClientId" value=""/>
      <add key ="AdxClientSecret" value=""/>
      <add key="AdxCreateOrResetTable" value="false"/>
      <add key="AdxDirectIngest" value="true"/>
    <!--Query file-->
  </appSettings>
</configuration>
