<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Realtime Kql</a>
</nav>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Realtime Kql</h5>
    <h6 class="card-subtitle mb-2 text-muted">Server Side Events</h6>
    <p class="card-text">This site is using Server Side Events protocol trick.</p>
    <a href="https://www.html5rocks.com/en/tutorials/eventsource/basics/" class="card-link">Server side events</a>
    <a href="https://www.w3schools.com/html/html5_serversentevents.asp" class="card-link">EventSource in HTML5</a>
  </div>
</div>
