# Workflow to build, sign, compress, and upload binaries to a release
name: Build and Release

on:
  push:
    tags:
      - '*'
  pull_request:
    tags:
      - '*'

jobs:
  publish:
    runs-on: windows-latest

    defaults:
      run:
        shell: powershell

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Get tag name for new release
    - name: Get Tag and Release Names
      run: |
        $tmp = '${{ github.ref }}'.split('/')
        $tag = $tmp[$tmp.length-1]
        $release = 'RealTimeKql ' + $tag
        echo "TAG_NAME=$tag" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "RELEASE_NAME=$release" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    # Publish binaries for each target runtime
    - name: Publish Binaries
      run: |
        dotnet publish Source/RealTimeKql/RealTimeKql.csproj -r win-x64 -f netcoreapp3.1 -c Release -p:PublishSingleFile=true -o ${{ runner.temp }}\win-x64
        dotnet publish Source/RealTimeKql/RealTimeKql.csproj -r linux-x64 -f netcoreapp3.1 -c Release -p:PublishSingleFile=true -o ${{ runner.temp }}\linux-x64
    
    # Compress binaries for each target runtime
    - name: Compress Binaries
      run: |
        mkdir ${{ github.workspace }}\ReleaseAssets
        copy Doc/Queries/Windows/* ${{ runner.temp }}\win-x64
        Compress-Archive -Path ${{ runner.temp }}\win-x64\* -DestinationPath "${{ github.workspace }}\ReleaseAssets\RealTimeKql.${{ env.TAG_NAME }}.zip"
        copy Doc/Queries/Linux/* ${{ runner.temp }}\linux-x64
        cd ReleaseAssets
        tar -czvf "RealTimeKql.${{ env.TAG_NAME }}.tar.gz" ${{ runner.temp }}\linux-x64\*
        dir "RealTimeKql.${{ env.TAG_NAME }}.*"

    # Sign binaries
    - name: Sign Binaries
      uses: ./Source/Actions/SignAction
      with:
        certificate: '${{ secrets.BASE64_ENCODED_PFX }}'
        key: '${{ secrets.PFX_KEY }}'
        directory: '${{ github.workspace }}\ReleaseAssets'

    # Upload compressed binaries to latest release
    - name: Create Release Step
      uses: ./Source/Actions/CreateReleaseAction
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: ${{ env.TAG_NAME }}
        release_name: ${{ env.RELEASE_NAME }}
        directory: '${{ github.workspace }}\ReleaseAssets'